.login {
  width: 100vw;
  height: 100vh;
  background-color: #F0F2F5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775EE;
  margin-bottom: 10px;
}
.loginDesc {
  font-size: 24px;
}
.loginBox{
    height: 400px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signupInput{
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775EE;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot{
    text-align: center;
    color: #1775EE;
}
.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42B72A;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.my-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5px; /* Adjust the top margin as needed */
}
.my-5 a {
  margin-top: 5px; /* Add margin between the text and the link */
}