#title span {
    color: #FFAE42;
}

.hero-section {
    background-image: url('https://images.pexels.com/photos/9858905/pexels-photo-9858905.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh

}

#services{
    color: #FFAE42;
}

.me-2 {
    background-color: #FFAE42;
    border-color: #FFAE42;
}

.me-2:hover{
    background-color: #0c0c0b;
}

.post-later:hover{
    background-color: #0c0c0b;
}